<h1>Child component</h1>
<h2>{{propertyFromChild}}</h2><br>
Text entered in Input is : {{propertyforInput}}
<br><br>
<button (click) = "childMethod()">
  <ng-content></ng-content>
</button>

<div class="hostselector" id="hostselector">
  <h4>Lorem ipsum dolor sit amet consectetur</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, dignissimos. Dolores, reiciendis error. Id maiores ullam vitae ab, recusandae, quo voluptatem ea, corrupti expedita inventore aperiam laboriosam accusamus itaque sit.</p>
</div>
<hr>



